@font-face {
  font-family: 'Edu VIC WA NT Beginner';
  src: url('./font/EduVICWANTBeginner-Bold.ttf') format('woff');
}

.App {
  text-align: center;
  font-family: 'Edu VIC WA NT Beginner';

  font-weight: normal;
  font-style: normal;
}
